.search-top-bar {
    label {
        position: relative;
    }
    label:before {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 30px;
        background: url("./../../../../../img/ico_search.svg") center / contain no-repeat;
    }
    input {
        padding: 10px 50px;
        border: none;
        box-shadow: none;
        width: 100%;
    }
    .actions-header {
        display: flex;
        float: right;
        span {
            &.icon {
                width: 40px;
                height: 40px;
                display: block;
                margin-left: 70px;
                span{
                    &.number{
                        background: #F49E00;
                        position: absolute;
                        right: -20px;
                        top: -5px;
                        display: block;
                        width: 32px;
                        height: 23px;
                        text-align: center;
                        border-radius: 4px;
                        line-height: normal;
                        font-size: 12px;
                        color: white;
                        line-height: 21px;
                    }
                }
            }
            &.localisation {
                background-image: url("./../../../../../img/ico_localisation.svg");
            }
            &.draft {
                background-image: url("./../../../../../img/ico_draft.svg");
            }
            &.notification {
                background-image: url("./../../../../../img/ico_notification.svg");
                &:hover {
                    background-image: url("./../../../../../img/ico_creer_notification_hover.svg");
                }
            }
        }
    }
}
