.page-builder{
  .horizontal-banner{
    -webkit-transition: 0.8s;
    min-height: 152px;
    .image-static-banner{
      img{
        width: 75%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
      @include mq($until: 992) {
        height: 105px;
      }
    }
    .text-static-banner {
      padding-left: 0;
      p, h4{
        -webkit-transition: 0.8s;
      }
      h4{
        margin-bottom: 0;
      }
      object{
        width: 35px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 0;
      }
    }
  }
}

