#modal-table-component.custom-modal {

  .modal-container {
      overflow-x: auto;
      padding: 40px 40px;
  }

  .modal-content {
      height:auto;
      padding-bottom: 0px;
      border-bottom-left-radius : 12px;
      border-bottom-right-radius: 12px;

      .pagination-bottom {
          background: transparent;
          border: none;
      }
  }

  .modal-footer {
      height: 0px;
      padding: 0;
      border: none;
  }

  .modal-header {
    border-top-left-radius : 12px;
    border-top-right-radius: 12px;
  }


  .file-component {
    padding: 15px;

    @include mq(tablet){
      padding: 30px;
    }
  }

  .form-component {
    padding: 15px;

    @include mq(tablet){
      padding: 30px;
    }

    a {
      &.btn-default {
        color:$primary-color;
        &:hover{
          color:$secondary-color;
          border: 1px solid $secondary-color;
        }
      }
      &.btn-link{
        text-decoration: none;
        color:$primary-color;
      }
      &.btn-danger{
        color:$brand-danger;
      }

    }


  }

}
