.tabs-list-widget {
    .tabs-list-container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        ul {
            display: flex;
            margin-left: 10px;
        }
        .container-tab {
            display: flex;
            margin-left: -10px;
            &.active {
                .simple-button-container {
                    background-color: #fff;
                }
            }
        }
        .simple-button-container {
            border-top-left-radius: 10px;
            a {
                @include line-clamp(2, 20);
                white-space: nowrap;
            }
        }
        .simple-btn {
            padding: 12px 0px 12px 35px;
            width: 160px;
            float: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    + {
        div {
            border-top-left-radius: 0 !important;
            border: none !important; 
            .element-file-container{
                margin: 0;
            }
            .element-file-container-head{
                display: none !important;
            }
            .element-table-container-head{
                display: none !important;
            }
            .col-xs-12{
                padding: 0;
            }
            // tablas
            .element-table-container {
                margin: 0;
                & + div{
                    p{
                        padding-left: 35px;
                    }
                }
                #table-list{
                     .file-infos{
                         padding-left: 0;
                     }   
                }
                .title{
                    display: none;
                }
                .react-table-container{
                    border: none;
                    .ReactTable{
                        .rt-thead{
                            &.-filters{
                                padding-bottom: 10px;
                                padding-top: 17px;
                                .rt-th{
                                    border-right: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
