#tabsWidget {
  margin-bottom: 20px;
  .tab-content {
    background-color: #fff;
    padding: 5px 15px;
  }
  .nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    & > li {
      width: 160px;
      text-align: center;
      float: none;
      &.active {
        a {
          background-color: #fff;
          color: #65c5db;
        }
      }
      &:not(.active) {
        background-color: #d3e1e5;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        a {
          &:hover {
            background-color: #124261;
          }
        }
      }
      & > a {
        padding-top: 17px !important;
        padding-bottom: 15px;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 160px;
        text-align: center;
        float: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
     
    }
  }
}
