.collapsable-group {
  position: relative;
  
  button {
    padding-left: 30px;
  }

  &.editable {
    button {
      padding-left: 50px;
    }
  }

  .field-name  {
    text-transform: initial !important;
  }

  .actions {
    position: absolute;
    top:0px;
    right:0px;
    z-index: 10;
    top: 13px;
    right: 40px;

    a {
      font-size: 16px;
      color: #455660;
      padding-right: 10px;
    }

    &.left {
      left:0px;
      width: 50px;
      padding-left: 10px;
      text-align: center;

      a {
        font-size: 18px;
        padding-right: 7px;
      }

    }
  }
}

.form-fields .collapsable-group {
  &.editable {
    button {
      padding-left: 50px;
    }
  }
}
