.icon-field {
  .css-bg1rzq-control {
    border-radius: 0;
  }
  .css-1szy77t-control {
    border-radius: 0;
    border: 1px solid #ccc;
    border-bottom: 2px solid $brand-primary;
    box-shadow: none;
  }
}
