.custom-modal{
    
    .form-group{
        margin: 0;
    }

    .modal-container{
        margin: 0 auto;
    }
    .field-col{
        height: calc(100vh - 250px);
        overflow-y: scroll;

        &.border-right {
            border-right:1px solid #ccc;
        }
    }
    
    .modal-content{

        .container{
            overflow: unset;
        }
    }

    .medium {
        width: 100%;
        @include mq(tablet) {
            width: 70%;
        }
        @include mq(wide) {
            width: 50%;
        }
    }

    .medium-large{
        width: 80%;
    }

    .large{
        width: 100%;
    }

    .small{
        width: 100%;
        @include mq(tablet) {
            width: 50%;
        }
        @include mq(wide) {
            width: 30%;
        }
    }

    .outer-box{
        border: 1px solid #ccc;
    }
    
    #modal-edit-permision{
        
        .modal-container{
            width: 50%;
            margin: 0 auto;
        }
        
        .form-group{
            margin: 0 !important;
        }

    }

    .modal-header {
        i {
            padding-right: 10px;
            font-size: 14px;
            color: #858585;
        }
    }
}




