.container-toggle-switch{

    label{

        width: 100%;
        margin-bottom: 15px;

        span{
            width: 60%;
            display: inline-block;
        }

        .react-switch{
            float: right;
        }
    }
}