.horizontal-container {
	max-width: 100%;
	margin: 0 auto;
}

.horizontal-inner-container {
	max-width: 1200px;
	margin: 0 auto;
  padding: 0 30px;
}

a {
	text-decoration: none;
	display:inline-block;
}

b{
  font-weight:bold;
}

.separator {
    clear: both;
    font-size: 1px;
    line-height: 0;
    height: 1px;
    pointer-events: none;
}
.rounded {
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
}

.uppercase {
    text-transform: uppercase;
}
.animate {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.box-sizing{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

div, header,footer,aside,section,article,h1,h2,h3,p,form,a,ul,li {
  position:relative;
  vertical-align: top;

  @extend .box-sizing;

}


.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
   padding: 3px 5px;
   font-size:10px;
   right: 8px;
   top: -11px;
   left:auto;
}

.bg-white{
  background-color:#fff;
}

.background-image-container{
  position:absolute;
  width:100%;
  height:100%;
  z-index:0;
  top:0px;
  left:0px;

}

.background-image{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:0;
  background-repeat:no-repeat;
  background-size:cover;
}


// margin && padding customized with classes

// variables
$spacer: 30px;
//

.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: $spacer * .25 !important;
}
.m-2 {
    margin: $spacer * .5 !important;
}
.m-3 {
    margin: $spacer !important;
}

.ml-1 {
    margin-left: $spacer * .25 !important;
}
.ml-2 {
    margin-left: $spacer * .5 !important;
}
.ml-3 {
    margin-left: $spacer !important;
}


.mr-1 {
    margin-right: $spacer * .25 !important;
}
.mr-2 {
    margin-right: $spacer * .5 !important;
}
.mr-3 {
    margin-right: $spacer !important;
}

.mt-1 {
    margin-top: $spacer * .25 !important;
}
.mt-2 {
    margin-top: $spacer * .5 !important;
}
.mt-3 {
    margin-top: $spacer !important;
}

.mb-1 {
    margin-bottom: $spacer * .25 !important;
}
.mb-2 {
    margin-bottom: $spacer * .5 !important;
}
.mb-3 {
    margin-bottom: $spacer !important;
}
// (end) margin && padding customized with classes
