
#model-container {

	.rightbar-page .page-content{

		.field-inputs {
			padding-left: 260px;
		}

		.field-type {
			width: 240px;
			text-align: left;
		}

	}

}

.setup-field.version-2 {
	.container-toggle-switch {
		padding-top: 0px;
		margin-bottom: 5px;
		padding-right: 6px;
		
		label span {
			color : $cms-dark-color-1;
		}


	}
}

.conditional-formatting {
	.condition-item {
		border: 1px solid #ccc;
		padding: 12px 0;
		margin: 0;
		margin-bottom: 10px;
		@include round(6px);
		padding-bottom: 0px;
	}

	.form-group {
		padding-left:0px !important;
	}
}