.visibility-settings-field {
	.add-row-block {
	    border: 1px dashed #ccc;
	    text-align: center;
	    padding: 0px 5px;
	    margin-bottom: 0px;
	    margin-left: 50px;
	}

	.modal-header{
			padding: 15px 40px;
	}
}
