.check-field {
    margin-top: 20px;
    margin-bottom: 13px;
    label {
        margin-bottom: 0 !important;
        span {
            color: #77a9f4;
            &.MuiIconButton-root{
                padding: 7px !important
            }
        }
        float: none;
        span.MuiTypography-root {
            color: $brand-dark-color-1 !important;
        }
        &.is-invalid {
            span.MuiIconButton-label {
                color: $brand-danger !important;
            }
            span.MuiTypography-root {
                color: $brand-danger !important;
            }
        }
    }
}
