body{
    .select2-container{
        .select2-selection--single{
            height: 36px;
            outline: none;
            .select2-selection__rendered{
                padding-top: 2px;
            }
            .select2-selection__arrow{
                top: 4px;
            }
        }
        .select2-search__field{
            outline: none;
        }
    }
    .select2-dropdown{
        z-index: 9999;
    }
}
