.modal-sidebar {
    width: 312px;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    height: 100%;
    height: calc(100vh - 85px);
    position: fixed;
    top: 92px;
    right: -312px;
    bottom: 0;
    overflow: auto;
    background-color: #ffffff;
    color: #98b2bf;
    border: 1px solid var(--unnamed-color-e6e6e6);
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #e6e6e6;

    h3 {
        padding: 0;
        margin: 0;
        padding: 20px;
        font-size: 20px;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 20px;
    }

    .col-1 {
        padding: 10px 20px;
        &:not(:first-child),
        &:not(:last-child) {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }
    }

    .more-btn {
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        a {
            border-radius: 40px;
        }
    }

    .field-container {
        color: #A8A8A8;
        font-size: 14px;

        &:first-child {
            color: #004161;
            font-size: 16px;
        }
    }

    .table-actions-col {
        position: absolute;
        top: calc(50% - 10px);
        right: -20px;
        a {
            color:#A8A8A8;
        }
    }

    .date-link {
        text-decoration: none;
    }
    .trash-link {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .trash {
        background-image: url("./../../../../../img/supprimer.svg");
        width: 16px;
        height: 16px;
        display: block;
    }
    .date {
        color: #a8a8a8;
        font-size: 14px;
    }
}
