body {
    #timeline {
        .MuiStepContent-root {
            border-left-width: 5px;
            border-left-color: #e7eaef;
        }
        .MuiStepLabel-iconContainer {
            padding-right: 20px;
        }
        .MuiStepConnector-lineVertical {
            border-left-style: solid;
            border-left-width: 5px;
            border-left-color: #e7eaef;
        }
        .MuiSvgIcon-root {
            font-size: 35px;
        }
        .MuiStepContent-root {
            margin-top: 0;
            padding-left: 35px;
            margin-left: 15px;
        }
        .MuiStepConnector-vertical {
            padding: 0;
            margin-left: 15px;
        }
        .MuiStepIcon-text{
            display: none;
        }
        .MuiStepIcon-root{
            color: #e7eaef;
            &.MuiStepIcon-active{
                border: 2px solid #e7eaef;
                border-radius: 50%;
                color: #fff;
            }
        }
        .MuiStepLabel-label{
            .MuiStepLabel-active{
                font-size: 12px;
            }
        }
        .MuiTypography-root{
            font-size: 14px;
        }
    }
}
