#modal-search {
    .modal-background {
        background-color: #3a6780;
        opacity: 0.9;
    }
    .modal-header {
        padding-bottom: 20px;
    }
    .results {
        background: white;
    }
    .modal-container {
        position: absolute;
        width: 100%;
        top: -15px;
        padding: unset;
        .modal-buttons {
            top: 10px;
            right: 10px;
        }
        .close-button-modal {
            i {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                &.fa-times {
                    &:before {
                        content: url("./../../../../../../img/efface_saisie.svg") !important;
                        width: 15px;
                        display: block;
                    }
                }
            }
        }
        .modal-content {
            overflow: unset;
            padding-bottom: 0;
            z-index: 9999;
            .container-modal {
                background: white;
                .results {
                    padding: 15px 30px;
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    .container-results {
                        height: 250px;
                        overflow: scroll;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                    .row-result {
                        h4 {
                            color: #004161;
                        }
                        span {
                            color: #00416199;
                        }
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            li {
                                margin: 0;
                                padding: 0;

                                .highlight {
                                    color: #FFA500;
                                }
                            }
                        }

                    }
                }
                label {
                    // position: absolute; -> fix mozilla viewer
                    top: -46px;
                    width: 75%;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 10px;
                        top: 0;
                        bottom: 0;
                        width: 30px;
                        background: url("./../../../../../../img/ico_search.svg") center/contain no-repeat;
                    }
                    input {
                        padding: 10px 50px;
                        border: none;
                        box-shadow: none;
                        width: 100%;
                    }
                }
            }
        }
        .modal-footer {
            display: none;
        }
    }
}
