body{
  &.template-login{
    &.expansion-alids-init{
      footer{
        display: none;
      }
    }
  }
} 
.login-container {
  padding: 45px 20px 80px;
  background-repeat: no-repeat;
  background-position: -320px 50%;
  z-index: 1;
  .title-background{
    position: absolute;
    color: #fff;
    bottom: 145px;
    left: 170px;
    text-align: center;
    max-width: 300px;
  }
  .icons {
    padding: 30px 15px;
    text-align: center;

    .icon-box {
      padding: 20px 20px;
      margin-bottom: 20px;
      .icon {
        i {
          font-size: 50px;
          line-height: 60px;
        }
      }
      .title {
        margin-top: 5px;
        min-height: 56px;
        @include font(24, 28, 600);
      }
      p {
        padding: 0px;
        @include font(16, 21, 400);
      }
    }
    p {
      padding: 5px 15px;
      @include font(16, 21, 400);
    }
  }

  .login-box-container {
    .logo-container {
      text-align: center;
      background-color: #ffffff;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-top: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-left: 1px solid #dbdbdb;
      padding: 20px;
      max-width: 430px;
      margin: 0 auto;
    }
    .login-box {
      padding: 0px 20px;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-left: 1px solid #dbdbdb;
      max-width: 430px;
      margin: 0 auto;
      form {
        border: none;
        padding: 0;
        h2 {
          text-align: center;
          @include font(18, 24, 400);
        }
        .container-title{
          text-align: center;
          &+h2{
            display: none;
          }
        }
        .form-group {
          margin-top: 10px;
          label {
            @include font(14, 19, 400);
            i {
              margin-right: 5px;
            }
          }
          .form-control {
            border-color: #a8a8a8;
          }
          .buttons-group {
            text-align: center;
            display: flex;
            flex-direction: column;
            .btn {
              width: 100%;
              font-size: 14px;
              text-transform: capitalize;
              margin-bottom: 20px;
            }
          }
          .accept{
            input{
              margin-right: 5px;
            }
          }
          .forgot {
            margin: 20px;
            a {
              color: $primary-color;
              @include font(14, 19, 400);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.footer-auth{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-width: 430px;
    margin: 0 auto;
    margin-top: 100px;
  ul{
    list-style-type: none;
    padding-left: 0;
    li{
      display: inline;
      color: #2A3649;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
    }
  }
  .version{
    text-align: center;
    font-size: 12px;
    color: #999;
  }
}
