#modal-add-document {
  .modal-header {
    padding-left: 45px;
  }
  .modal-content {
    padding-top: 25px;
    .yes-no-field {
      .container-text {
        width: calc(100% - 240px);
        display: inline-block;
      }
      .container-fields-yes-no {
        text-align: right;
        width: 240px;
        display: inline-block;
        position: relative;
      }
    }
  }
  .modal-footer {
    text-align: center;
  }
  .modal-container {
    &.small {
      width: 75%;
      margin: 0 auto;
    }
    &.medium {
      width: 85%;
      margin: 0 auto;
    }
    &.large {
      width: 100%;
      margin: 0 auto;
    }
  }
}
