.container-radio-field{
	width: 100%;
	padding: 0;
	.MuiFormGroup-root{
		display: inline;
		.MuiFormControlLabel-root{
			border: 1px solid #ccc;
			padding: 0px 25px 0px 10px;
			margin-right: 16px;
			margin-left: 0px;
            padding: 2px 5px 2px 15px !important;
            &.radio-field-label{
                padding: 0px 25px 0px 10px !important;
                margin-bottom: 15px !important;
                span{
                    &.MuiIconButton-root{
                        padding: 7px !important;
                    }
                }
            }
			.Mui-checked{
                color: #8db7f7;
                padding: 7px !important;
			}
		}
	}
	.bordered{
		border: 1px solid #8db7f7 !important;
	}
}

.has-error{
	.container-radio-field{
		.MuiFormControlLabel-root {
			border: 1px solid #a94442;
		}
	}
}


