//Variables
$active-color: #e6e6e6;
$unactive-color: #e6e6e6;
.step-list{
    margin-bottom: 50px;
}
.stepper {
  &-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
  &-item {
    position: relative;
    margin: 0 10px;
    &#stepper-item-completed {
      .stepper-item-outer {
        background-color: $active-color;
        border: 3px solid $active-color;
      }
    }
    .stepper-item-outer {
      display: flex;
      justify-content: center;
      align-items: center;
      &.stepper-item-outer-active {
        background-color: #65c5db;
      }
      .stepper-item-inner-future {
        color: #e6e6e6 !important;
        background-color: #e6e6e6;
      }
    }
    .stepper-title {
      position: absolute;
      display: inline-block;
      width: max-content;
      max-width: 225px;
      min-width: 225px;
      transform: translate(-40%, 5px);
      text-align: center;
      color: #adadad;
      font-size: 14px;
      font-weight: 900;
      margin-top: 25px;
    }
    .stepper-title-active {
      color: $active-color;
    }
  }
}
.stepper-item-outer:nth-of-type(odd) {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  .stepper-item-inner {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    color: white;
    font-weight: 600;
    font-size: 17px;
  }
  .stepper-item-inner.stepper-item-inner-active {
    width: 18px;
    height: 18px;
    color: #fff;
  }
}
.stepper-item-outer:nth-of-type(even) {
  height: 2px;
  width: 15%;
  background-color: #e6e6e6;
}

.stepper-item-outer-inner {
  background-color: $active-color;
  width: 0%;
  overflow: hidden;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  display: inline-block;
  color: transparent;
}
div#stepper-item-completed + .stepper-item-outer .stepper-item-outer-inner {
  width: 100%;
  height: 2px;
}
