
// Fonts
// Variables
@import "variables";

//@import '~leaflet/dist/leaflet.css';

// Bootstrap
$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//@import "~font-awesome/scss/font-awesome";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'helpers/init';
@import '../helpers/common';
@import '../helpers/mixins';
@import '../helpers/breakpoints';

@import "../../js/front/libs/jquery-ui-1.12.1/jquery-ui.min.css";
@import "../../js/front/libs/slick/slick.css";
@import "../../js/front/libs/slick/slick-theme.css";

//layout
@import 'buttons';
@import 'layout';
@import 'modal';
@import 'form';
@import 'datepicker';
@import 'login';

@import 'total-box';
@import 'boxButton';
@import 'staticBanner';
@import 'stepper';


//@import 'customized';


//Extras

// Components
@import 'fields/map';
@import 'fields/date';
@import 'fields/checkbox';
@import 'fields/label';
@import 'fields/richtext';
@import 'fields/car-field';
@import 'fields/range-field';
@import 'fields/yes-no-field-switch';
@import 'fields/file';
@import 'fields/list-field';
@import 'fields/immat';
@import 'fields/select2-field';

@import 'widgets/paginator';
@import 'widgets/lists';
@import 'widgets/chat';
@import 'widgets/filter-bar';
@import 'widgets/modal-table-component';
@import 'widgets/form-button';
@import 'widgets/table-document';
@import 'widgets/missing-documents';
@import 'widgets/background-image';
@import 'widgets/separator';
@import 'widgets/element-files';
@import 'widgets/element-forms';
@import 'widgets/element-tables';
@import 'widgets/image-text-link';
@import 'widgets/image-text-title-documents';
@import 'widgets/table-list';
@import 'widgets/banner-horizontal';
@import 'widgets/action-button';
@import 'widgets/tabs';
@import 'widgets/total-box-price';

@import 'env-bar';

@import 'radio-field';
@import 'icon-field';
@import 'check-field';
@import 'default-field';
@import 'form-component-temp';
@import 'file-component-temp';
@import 'text-field';
@import 'yes-no-field';
@import 'modal-add-document';



